{% extends "base.html" %}

{% block title %}
Mongoori - {% if mode == 'edit' %}Edit Vehicle{% else %} Add Vehicle{% endif %}
{% endblock %}

{% block content %}

<div class="col-12">
    <div class="card card-primary card-outline mb-4">
        <!-- Card header -->
        <div class="card-header">
            <div class="card-title">
                {% if mode == 'edit' %}
                    Edit Vehicle Information
                {% else %}
                    Add New Vehicle
                {% endif %}
            </div>
        </div>
        <!-- Card header End-->

        <!-- Form Begin -->
        <form id = "vehicleForm" method="post"
            action = "{% if mode == 'edit' %}{{ url_for('admin_update_vehicle', vehicle_id=vehicle.vehicle_id) }}{% else %}{{ url_for('admin_input_vehicle') }}{% endif %}">
            <!-- Card body -->
            <div class="card-body">
                <div class="mb-3">
                    <label for="VIN" class="form-label">VIN</label>
                    <input id = "vin" name = "vin" type = "text" class="form-control" 
                        value =  "{% if mode == 'edit' %}{{ vehicle.vin }}{% endif %}" minlength="17" maxlength="17"
        pattern="[A-HJ-NPR-Z0-9]{17}" required/>
                </div>
                
                <!--Row begin-->
                <div class = "row mb-3">
                    <div class = "col-4">
                        <label for = "make" class="form-label">MAKE</label>
                        <input id = "make" name = "make" type="text" value = "TESLA" class="form-control">
                    </div>


                    <div class="col-4">
                        <label for="model" class="form-label">MODEL</label>
                        <select class="form-select" id="model" name="model" data-selected="{{ vehicle.model or '' }}" required>
                            <option disabled selected value="">Choose...</option>
                            <option value="Model 3">Model 3</option>
                            <option value="Model Y">Model Y</option>
                        </select>
                    </div>

                    <div class = "col-4">
                        <label for = "year" class="form-label">YEAR</label>
                        <select id="year" name='year' class="form-select" data-selected="{{ vehicle.model_year or '' }}">
                            <option selected disabled value="">Choose...</option>
                        </select>
                    </div>
                </div>
                <!--Row End-->

                <!--Row Start-->
                <div class = "row mb-3">
                    <div class="col-4">
                        <label for="trim" class="form-label">TRIM</label>
                        <select id="trim" name="trim" class="form-select" data-selected="{{ vehicle.trim or '' }}" disabled>
                            <option selected disabled value="">Choose...</option>
                        </select>
                    </div>
                    
                    <div class="col-4">
                        <label for="exterior" class="form-label">EXTERIOR</label>
                        <select id="exterior" name="exterior" class="form-select" data-selected="{{ vehicle.exterior or '' }}" disabled>
                            <option selected disabled value="">Choose...</option>
                        </select>
                    </div>

                    <div class="col-4">
                        <label for="interior" class="form-label">INTERIOR</label>
                        <select id="interior" name="interior" class="form-select" data-selected="{{ vehicle.interior or '' }}">
                            <option selected disabled value="">Choose...</option>
                            <option value="black">Black</option>
                            <option value="Black and White">Black and White</option>
                        </select>
                    </div>

                </div>
                <!--Row End-->
                
                <!--Row Start-->
                <div class = "row mb-3">
                    <div class="col-4">
                        <label for="plate_number" class="form-label">PLATE NUMBER</label>
                        <input id = "plate_number" name = "plate_number" type = "text" class="form-control" value="{{ vehicle.plate_number or '' }}"/>
                    </div>
                    <div class="col-3">
                        <label for="mileage" class="form-label">MILEAGE</label>
                        <input id = "mileage" name = "mileage" type = "text" class="form-control" pattern="[0-9]+" value="{{ vehicle.mileage or '' }}"/>
                    </div>
                    <div class="col-5">
                        <label for="software" class="form-label">Software Package</label>
                        <select id="software" name="software" class="form-select" data-selected="{{ vehicle.software or '' }}">
                            <option selected disabled value="">Choose...</option>
                            <option value="autopilot">Autopilot</option>
                            <option value="EAP">Enhanced Autopilot</option>
                            <option value="FSD">Full Self-Driving</option>
                        </select>
                    </div>

                </div>
                <!--Row End-->

                {% if mode != 'edit' %}
                <div class = "mb-3">
                    <label for="warranty" class="form-label">WARRANTY</label>
                    <div class="row fw-bold text-secondary mb-1">
                        <div class="col-md-4">Warranty Type</div>
                        <div class="col-md-3">Expire Date</div>
                        <div class="col-md-3">Expire Miles</div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="container-fluid p-0" id="warranty-container"></div>
                    <button type="button" class="btn btn-info mb-2" onclick="addWarranty()">
                        <i class="fa fa-plus-circle"></i> add
                    </button>
                    
                </div>
                {% endif %}

            </div>
            <!-- Card body end -->

            <!-- Footer Begin-->
            <div class="card-footer">
                <button type="submit" class = "btn btn-primary">Submit</button>
            </div>
            <!-- Footer End-->
        </form>
        <!-- Form End -->
    </div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
    <div id="successToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="toastMsg"></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
{% if mode != 'edit' %}
<script>
    const PURCHASE_WARRANTIES = JSON.parse(`{{ purchase_types | tojson | safe }}`);
</script>
{% endif %}

<script src="{{ url_for('static', filename='warranty_common.js') }}"></script>

<script src="{{ url_for('static', filename='vehicle_form.js') }}"></script>
<script src="{{ url_for('static', filename='warranty_form.js') }}"></script>
{% endblock %}