{% extends "base.html" %}

{% block title %}
Mongoori - Create Parking Lot
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-8">

        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Add Parking Lot</h3>
            </div>

            <form id="parkingForm">
                <div class="card-body">

                    <div class="mb-3">
                        <label class="form-label">Parking Lot Name</label>
                        <input
                            name="name"
                            class="form-control"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Street Address</label>
                        <input
                            name="address_line1"
                            class="form-control">
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">City</label>
                            <input name="city" class="form-control">
                        </div>

                        <div class="col-md-3 mb-3">
                            <label class="form-label">State</label>
                            <select name="state" class="form-select">
                                <option value="CA" selected>CA</option>
                            </select>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label class="form-label">ZIP Code</label>
                            <input
                                name="zip_code"
                                class="form-control">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select name="status" class="form-select">
                        <option value="active" selected>Active</option>
                        <option value="inactive">Inactive</option>
                        </select>
                    </div>

                </div>

                <div class="card-footer text-end">
                    <a href="/admin/parking-lots" class="btn btn-secondary">
                        Cancel
                    </a>
                    <button class="btn btn-primary" type="submit">
                        Create
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='parking_lot_form.js') }}"></script>
{% endblock %}