{% extends "base.html" %}

{% block title %}
Mongoori - Vehicle List
{% endblock %}

{% block content %}
<div class="col-12">
    <div class="card card-primary card-outline mb-4">
        <!-- Card header -->
        <div class="card-header">
            <div class="card-title">Vehicle Information</div>
        </div>
        
        <div class="card-body">
        <!--div for Table-->
            <table id = "vehicleTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>VIN</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Trim</th>
                        <th>Exterior</th>
                        <th>Interior</th>
                        <th>Plate</th>
                        <th>Mileage</th>
                        <th>Software</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    {% for v in vehicles %}
                    <tr data-id="{{v.vehicle_id}}" data-vin="{{v.vin}}" style="cursor:pointer;">
                        <td>{{v.vin}}</td>
                        <td>{{v.model}}</td>
                        <td>{{v.model_year}}</td>
                        <td>{{v.trim}}</td>
                        <td>{{v.exterior}}</td>
                        <td>{{v.interior}}</td>
                        <td>{{v.plate_number}}</td>
                        <td>{{v.mileage}}</td>
                        <td>{{v.software}}</td>
                        <td>{{v.vehicle_status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!--div for Table end-->


    </div>
</div>

{% include "warranty_modal/purchase_modal.html" %}
{% include "warranty_modal/subscription_modal.html" %}

{% endblock %}

{% block scripts %}
<script>
    const PURCHASE_WARRANTIES = JSON.parse(`{{ purchase_types | tojson | safe }}`);
    const SUBSCRIPTION_WARRANTIES = JSON.parse(`{{ subscription_types | tojson | safe }}`);
</script>

<script src="{{ url_for('static', filename='warranty_common.js') }}"></script>
<script src="{{ url_for('static', filename='vehicle_edit.js') }}"></script>
{% endblock %}