{% extends "base.html" %}

{% block title %}
Mongoori - Vehicle List
{% endblock %}

{% block content %}
<div class="col-12">
    <div class="card card-primary card-outline mb-4">
        <!-- Card header -->
        <div class="card-header">
            <div class="card-title">Vehicle Information</div>
        </div>
        
        <div class="card-body">
        <!--div for Table-->
            <table id = "vehicleTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>VIN</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Trim</th>
                        <th>Exterior</th>
                        <th>Interior</th>
                        <th>Plate</th>
                        <th>Mileage</th>
                        <th>Software</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    {% for v in vehicles %}
                    <tr data-id="{{v.vehicle_id}}" style="cursor:pointer;">
                        <td>{{v.vin}}</td>
                        <td>{{v.model}}</td>
                        <td>{{v.model_year}}</td>
                        <td>{{v.trim}}</td>
                        <td>{{v.exterior}}</td>
                        <td>{{v.interior}}</td>
                        <td>{{v.plate_number}}</td>
                        <td>{{v.mileage}}</td>
                        <td>{{v.software}}</td>
                        <td>{{v.vehicle_status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!--div for Table end-->


    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
      $('#vehicleTable').DataTable({
        responsive: false,
        autoWidth: false,
        scrollX: true,
      });
    });

    document.addEventListener("DOMContentLoaded", function () {
    const rows = document.querySelectorAll("#vehicleTable tbody tr");
    rows.forEach(row => {
        row.addEventListener("click", () => {
            const id = row.dataset.id;
            window.location.href = `/admin/edit_vehicle/${id}`;
            });
        });
    });
</script>
{% endblock %}