{% extends "base.html" %}

{% block title %}
Mongoori - Vehicle List
{% endblock %}

{% block content %}

<div class="card">
    <!-- Card header -->
    <div class="card-header">
        <h3 class="card-title">Vehicle Information</h3>
        <div class="card-tools">
            <a href="{{ url_for('vehicle_pages.vehicle_create_page') }}" class="btn btn-primary btn-sm">
                + Add Vehicle
            </a>
        </div>
    </div>
    
    <div class="card-body">
    <!--div for Table-->
        <table id = "vehicleTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Parking</th>
                    <th>Plate</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Trim</th>
                    <th>VIN</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {% for v in vehicles %}
                <tr data-id="{{ v.vehicle_id }}" data-vin="{{ v.vin }}" style="cursor:pointer;">
                    <td>{{ v.parking_lot_name }}</td> 
                    <td>{{v.plate_number}}</td>
                    <td>{{v.model}}</td>
                    <td>{{v.model_year}}</td>
                    <td>{{v.trim}}</td>
                    <td>{{v.vin}}</td>
                    <td>{{v.vehicle_status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--div for Table end-->


</div>


{% include "warranty_modal/purchase_modal.html" %}
{% include "warranty_modal/subscription_modal.html" %}
{% include "parking_modal/parking_modal.html" %}

{% endblock %}

{% block scripts %}
<script>
    const PURCHASE_WARRANTIES = JSON.parse(`{{ purchase_types | tojson | safe }}`);
    const SUBSCRIPTION_WARRANTIES = JSON.parse(`{{ subscription_types | tojson | safe }}`);
</script>

<script src="{{ url_for('static', filename='warranty_common.js') }}"></script>
<script src="{{ url_for('static', filename='parking_common.js') }}"></script>
<script src="{{ url_for('static', filename='vehicle_edit.js') }}"></script>
{% endblock %}